body {
    background-image: url(https://garden.spoonflower.com/c/6720259/p/f/m/8Ru3Zzqv-PDeRN_cP9xiURZtMotkmKTY8BZ1O1QGZGoUL6j1o-Q/Memphis%20style.jpg);
}

h1 {
    text-align: center;
    color: #ff00ff;
    background-color: #00ff00;
    font-family: 'Brush Script MT', cursive;
}

td {
    background-color: white;
    
}  